# Assignment  1.

# Find out all the types of error that we have encountered in our lecture and why? Also include the examples.

In [1]:
# Syntax Error - We should have enter ("vinay") instead of ("vinay) bcz string should be quoted
print("vinay)

SyntaxError: EOL while scanning string literal (4065405247.py, line 2)

In [2]:
# Syntax Error - if we change the line we should use triple quoted
print("""good
morning)

SyntaxError: EOF while scanning triple-quoted string literal (2951543957.py, line 3)

In [3]:
# Syntax Error - It shows error bcz we cannot use another double quoted string in double quoted string
print("my name is "Roshan" ")

SyntaxError: invalid syntax (2995781634.py, line 2)

In [4]:
# Syntax Error - We cannot start the code with special words like @,$,%, etc
@ten = 10

SyntaxError: invalid syntax (1419200038.py, line 2)

In [5]:
# Type error - it shows type error bcz we cannot concatenate string to integer 
"day" + 1

TypeError: can only concatenate str (not "int") to str

In [6]:
# Name Error - This is variable case sensitivity, here Ten and TEN are not same.TEN and Ten define different values.
Ten = 10
print(TEN)

NameError: name 'TEN' is not defined

In [7]:
# Value Error - this shows error bcz if we convert string into integer then string has to be in integers form
A = "50.20"
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 50.20

ValueError: invalid literal for int() with base 10: '50.20'

In [1]:
# Type Error - Age is in integers form and here its in string that's why it shows error

# calculating age
name = input("name: ")
year_of_birth = input("year_of_birth: ")

age = 2022 - (year_of_birth)

print(f"{name} is of age: {age}")

name: Roshan
year_of_birth: Upadhyay

TypeError: unsupported operand type(s) for -: 'int' and 'str'

In [2]:
# Attribute Error: entering 'center' instead of 'centre'
name = "Roshan"
name.centre(20,"#")

AttributeError: 'str' object has no attribute 'centre'

In [4]:
name = "Roshan"  # this is the correct
name.center(20,"#")

'#######Roshan#######'

# Take input A and B and print their sum, mul, div, square of nos.

In [2]:
A = int(input("Enter value of A : "))
B = int(input("Enter value of B : "))

print(f"Sum of A and B is:{A+B}")

Enter value of A : 12
Enter value of B : 10
Sum of A and B is:22

In [3]:
A = int(input("Enter value of A : "))
B = int(input("Enter value of B : "))

print(f"Multiplication of A and B is:{A*B}")

Enter value of A : 12
Enter value of B : 10
Multiplication of A and B is:120

In [4]:
A = int(input("Enter value of A : "))
B = int(input("Enter value of B : "))

print(f"Division of A and B is:{A/B}")

Enter value of A : 12
Enter value of B : 10
Division of A and B is:1.2

In [5]:
A = int(input("Enter value of A : "))
B = int(input("Enter value of B : "))

print(f"Square of A and B is:{A**B}")

Enter value of A : 12
Enter value of B : 2
Square of A and B is:144

# How many reserve key words are there in python and why we should not use them as a variable name

In [ ]:
# Reserve keywords have predefined meaning and syntax in the language.
# Reserved words can't be used as identifiers for other programming elements like name of variable, function etc.
# Python will raise an error if you try to assign a value to any of those keywords.
# There are 32 reserve keywords are in python which are followings as:
and       del       from      not       while    
as        elif      global    or        with     
assert    else      if        pass      yield    
break     except    import    print              
class     exec      in        raise              
continue  finally   is        return             
def       for       lambda    try

# Create email ids with the user inputs.

In [7]:
lastname, firstname = "upadhyay", "roshan"

In [9]:
print(f"{lastname}.{firstname}@gmail.com")

upadhyay.roshan@gmail.com

# Print the following lines:
## Hi I'm Roshan
## My  address is 63/4B/1
## I learn some important lesson

In [10]:
print("""
Hi I'm Roshan
My address is 63/4B/1
I learn some important lesson
""")

Hi I'm Roshan
My address is 63/4B/1
I learn some important lesson

# Take user input(name,address,date of birth etc) to fill a form for your college and print their email IDs

In [2]:
First_name = input("Enter your First name: ")
Last_name = input("Enter your Last name: ")
village = input("Enter your place: ")
post_office = input("Enter your post office: ")
District = input("Enter your District: ")
State = input("Enter your State: ")
Pin_Code = input("Enter your Pin Code: ")
date_of_birth = input("Enter your date of birth")
Stream = input("Enter your Stream: ")

print(f"""
My First name is: {First_name}
My Last name is: {Last_name}
I live at: {village}
My post office is: {post_office}
my District is: {District}
State name is: {State}
My Pin_Code is: {Pin_Code}
date of birth is: {date_of_birth}
{First_name} belongs to {Stream} stream
My email ID is: {(First_name).lower()}.{(Last_name).lower()}@gmail.com
""")

Enter your First name: Roshan
Enter your Last name: Upadhyay
Enter your place: Amari
Enter your post office: Amarhat
Enter your District: Mau
Enter your State: Uttar Pradesh
Enter your Pin Code: 276403
Enter your date of birth20/09/2002
Enter your Stream: Science

My First name is: Roshan
My Last name is: Upadhyay
I live at: Amari
My post office is: Amarhat
my District is: Mau
State name is: Uttar Pradesh
My Pin_Code is: 276403
date of birth is: 20/09/2002
Roshan belongs to Science stream
My email ID is: roshan.upadhyay@gmail.com

# # Creating email IDs

In [7]:
firstname, lastname = "Roshan", "Upadhyay"

In [8]:
print(f"{firstname}.{lastname}@gmail.com")

Roshan.Upadhyay@gmail.com

# # Convert the following:

# # "22.4" into integer

In [10]:
# string into float
A = "22.4"
print(f"data type before: {type(A)}, value of A: {A}")
A = float(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 22.4
data type after: <class 'float'>, value of A: 22.4

In [9]:
# float into integer
A = 22.4
print(f"data type before: {type(A)}, value of A: {A}")
A = int(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'float'>, value of A: 22.4
data type after: <class 'int'>, value of A: 22

# # "22" into complex no

In [11]:
# string into float
A = "22"
print(f"data type before: {type(A)}, value of A: {A}")
A = complex(A)
print(f"data type after: {type(A)}, value of A: {A}")

data type before: <class 'str'>, value of A: 22
data type after: <class 'complex'>, value of A: (22+0j)